.grid-container{
  display: grid;
  grid-template-columns: repeat(6, calc((100% - 100px)/6));
  /*background-color: red;*/
  grid-column-gap: 20px;
  padding:5%;
}
.grid-item{
  /*display: inline-grid;*/
  /*align-items: center;*/
}
.grid-item-rows{
  height:100%;
  display:grid;
  grid-template-rows: 80% 20%;
  /*grid-row-gap: 20px;*/
}
.grid-item-box{
  /*height:100%;*/
  display: grid;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  align-content: center;
  border-radius:16%;
}
.title-item{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #89f7fe;
}
.svg-item{
  transform:scale(0.5);
}


